:root {
    --grid-size: 16;

    --clr-unjustifiable-green: #45f835;
    --clr-unjustifiable-white: #fafad2;

    --clr-primary-dark: #091a0d;
    --clr-primary-purple: #3c1f5a;
    --clr-primary-cyan: #35c3b8;

    --clr-bg-selected: hsl(0, 0%, 0%);
    --clr-bg-eraser: #fff;
}


* {
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    /* border: 1px solid red; */
}


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--clr-unjustifiable-white);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

nav button {
    padding: 0.25rem 1rem;
    background-color: var(--clr-primary-purple);
    border: 2px solid var(--clr-unjustifiable-white);
    border-radius: 1rem;
}

nav button:hover, 
nav a:hover {
    color: #000;
    background-color: var(--clr-unjustifiable-green);
}


/* Main sections layer - grid area*/

main {
    background-color: var(--clr-primary-dark);
    padding: 1.5em 18%;
}

#sectionContainer {
    display: grid;
    grid-template-columns: 30% auto;
    row-gap: 1em;
    column-gap: 15%;
}

#sectionContainer section {
    background-color: var(--clr-primary-purple);
}

#ninjaTitle {
    grid-row: 1;
    grid-column: 1;
    padding: 1em;
}

#ninjaControls {
    grid-row: 2;
    grid-column: 1;
    height: 400px;
}

#ninjaSketch {
    grid-row: 1 / span 2;
    grid-column: 2;
}


/* sketch grid section */

#sketchGrid {
    border: 3px solid grey;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

#sketchBlock {
    background-color: #ccc;
    border: 1px solid grey;
    /* flex: 1 1 auto; */
    width: calc(100% / var(--grid-size) - 2px);
}

.bgSelected {
    background-color: var(--clr-bg-selected);
}

.bgEraser {
    background-color: var(--clr-bg-eraser);
}


/* controls section */

#ninjaControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}



/* Grid Size slider */

.slidecontainer {
  width: 60%; /* Width of the outside container */
  height: 34px;
}



/* The slider itself */
.gridslider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 34px; /* Specified height */
  background: var(--clr-primary-cyan); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.gridslider:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.gridslider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #fff; /* handle background */
  cursor: pointer; /* Cursor on hover */
}

.gridslider::-moz-range-thumb {
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #fff; /* handle background */
  cursor: pointer; /* Cursor on hover */
}



/* Switches - Eraser, Darken, Lighten */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    padding: 9px 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--clr-primary-cyan);
}
  
input:focus + .slider {
    box-shadow: 0 0 8px var(--clr-primary-cyan);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(86px);
    -ms-transform: translateX(86px);
    transform: translateX(86px);
}

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
} */




/* header and footer defaults */

header, footer {
    background-color: var(--clr-primary-purple);
    color: var(--clr-unjustifiable-white);
    padding: 0.25em 4em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* attribution */
.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: var(--clr-unjustifiable-green); }